<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
.header{
	float: left;
	width: 100%;
	height: 450px;
	background-color: #ffffff;
}
.header .menu{
	float: left;
	width: 100%;
	height: 50px;
}
.header .menu .logo {
	float: left;
	width: 20%;
	height: 100%;
}
.header .menu .logo img{
	height: 100%;
}
.header .menu .Test{
	float: left;
	width: 20%;
	height: 100%;
}
.header .menu .mn{
	float: right;
	width: 60%;
	height: 100%
}
.header .menu .Test h2{
	margin: 0;
	padding-top: 5px;
	text-transform: uppercase;
	color: #a9cd49;
}
.header .menu .mn ul{
	margin: 0;
	padding: 0;
	display: block;
	line-height: 40px;
	list-style: none;
	padding-left: 15%;
}
.header .menu .mn ul li{
	float: left;
	display: block;
	width: 15%;
	text-align: center;
}
.header .menu .mn ul li a{
	text-decoration: none;
	color: black;
}
.header .menu .mn ul li a:hover{
	color: blue;
}
.header .menu .mn ul li a.home{
	color: #a9cd49;
}
.header .back-img{
	float: left;
	width: 100%;
	height: 400px;
	background-image: url('http://4.bp.blogspot.com/-VwRbTanSZHM/VE_cCH1p1KI/AAAAAAAAEWQ/KVYaJ1240Zo/s1600/SinhVienIT.NET---3586967.png');
}
.header .back-img .text{
	padding-top: 10%;
	display: block;
	width: 20%;
	margin: 0;
}
.header .back-img h2{
	margin: 0;
	color: white;
	display:block;
	width: 65%;
	background: black;
	text-transform: uppercase;
	border-bottom: 1px dotted white;
}
.header .back-img h1{
	margin: 0;
	font-size: 25px;
	color: white;
	display:block;
	width: 85%;
	background: black;
	text-transform: uppercase;
	border-bottom: 1px dotted white;
}
.header .back-img p{
	margin: 0;
	color: white;
	display: inline;
	background: black;
	text-transform: uppercase;
	border-bottom: 1px dotted white;
}
.ourvervices{
	float: left;
	width: 100%;
	height: 500px;
	margin: auto;
}
.ourvervices .our1 {
	width: 100%;
	height: 100px;
	background-color: #A9CD49;
}
.ourvervices h3{
	margin: 0;
	padding: 0;
	text-align: center;
}
.ourvervices .our1 h3{
	padding-top: 25px;
	float: top;
	height: 25px;
}
.ourvervices p{
	margin: 0;
	padding:0;
}
.ourvervices .our1 p{	
	padding-top: 10px;
	text-align: center;
}
.ourvervices .our2{
	width: 100%;
	height: 400px;
}
.ourvervices .our2 .box1{
	float: left;
	width: 20%;
	height: 400px;
	margin-left: 2%;
}
.ourvervices .our2 .box1.t{
	margin-left: 7%;
}.ourvervices .our2 .box1.p{
	margin-right: 7%;
}
}.ourvervices .our2 .box1 .hinh{
	float: left;
	width: 100%;
	height:50%;
}
}.ourvervices .our2 .box1 .thep{
	float: left;
	width: 100%;
	height:50%;
}
.ourvervices .our2 .box1 .hinh img{
	padding: 0;
	margin: 0;
	width: 50%;
	height: 50%;
	padding:0 25%;
}
.ourvervices .our2 p.a{
	text-align: center;
}
.ourvervices .our2 p.b{
	text-align: center;
}
hr{
	width: 20%;
	margin: auto;
	height: 3px;
	background-color: #67696d;
}
.ourvervices .our2 p{
	font-size: 15px;
}
.content2 {
	background: #edeff2;
	width: 100%;
	height: 500px;
	margin: 0 auto;
}
.content2 .box{
	background: #79c120;
	width: 100%;
	height: 100px;
	float: left;
}
.content2 .box p{
	margin: 0;
	font-size: 40px;
	padding-top: 20px;
	padding-left: 120px;
}
.content2 .box1{
	width: 500px;
	height: 370px;
	float: left;
	padding-top: 20px;
}
.content2 .box2{
	background: #edeff2;
	width: 50%;
	height: 400px;
	float: right;
	margin-top: 20px;
	margin-bottom: 10px;
	padding-right: 80px; 

}
.content2 .box2 h1{
	margin: 0;
	color:#5a5b59;
	font-weight: lighter;
}
.content2 .box2 p{
	margin: 0;
	padding-top: 20px;
	color: #949596;
	text-align: justify;
	font-size: 15px;
}
.content-mid {
	width: 100%;
	height: 400px;
	float: left;
}
.content-mid .content-mid-h{
	background: #a9cd49;
	float: left;
	width: 100%;
	height: 100px;
}
.content-mid-h .our{
	text-align: center;
	font-size: 30px;
	text-transform: uppercase; 
	padding-top: 20px;
	
}
.content-mid-h p{
	padding: 0;
	margin: 0;
	text-align: center;
	padding-top: 10px;
}
.content-mid .content-bot {
	width: 100%;
	height: 300px;
	float: left;

}
.content-bot .box{
	width: 20%;
	height: 300px;
	float: left;
	background:url(https://vignette.wikia.nocookie.net/onepiece/images/a/a3/Gear_Fourth_Infobox.png/revision/latest?cb=20170830213511);
	margin-left: 50px;
	background-size: 100% 100%;
	position: relative;
	margin-top: 20px;
}
.box .box-t{
	width: 100%;
	height: 50px;
	float: left;
	background: #a9cd49;
	position: absolute;
	bottom: 0;
}
.box .box-r {
	width: 98%;
	height: 50px;
	float: left;
	background: gray;
	position: absolute;
	bottom: 50px;
	opacity: 0.8;
    font-size: 17px;
    line-height: 50px;
    text-transform: uppercase;
    padding-left: 5px;
}
.box-t .img{
	display: inline;
	width: 120px;
	height: 30px;
	float: left;
	margin-left: 75px;
	margin-top: 8px;

}
.box-t .img img{
	width: 30%;
	float: left;
}
